@use 'backgroundFX';

.dtc{
    background-color:rgba(204, 116, 9, 0.164);
  }
  
  .danceTable div{
    display: flex; 
      text-align: center;
      font-size: 80%; 
      align-items: center;
  }
  .danceTable div div{
      padding: .5em 2em;
    }
  
  .tc{text-align: center;}
  